<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3f711b669b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/master.css">
    <title>Simplepycodes</title>
  </head>
  <body>
    <header class="showcase">
      <div class="content">
        <img src="../static/logo/bw1.png" class="logo" alt="simplepycodes">
        <div class="title">
          Welcome to simplepycodes
        </div>
        <div class="text">
          <strong>Simple, Practical, Elegant coding</strong>
        </div>
      </div>
    </header>
    <!-- Services -->
    <section class="services">
      <div class="container grid-3 center">
        <div>

          <a href="http://www.youtube.com/c/simplepycodes" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
          <h3>Dont miss free Tutorials on simplepycodes channel.</h3>

        </div>
        <div>


          <a href="https://www.linkedin.com/in/khashayar-frank-nariman-0a4418134/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
          <h3>Find me on Linkedin</h3>

        </div>
        <div>
          <a href="https://github.com/kkhashayar?tab=repositories" target="_blank"><i class= "fab fab fa-github fa-3x"></i></a>

          <h3>Check out some of my codes</h3>

        </div>
      </div>
    </section>
    <!-- About -->
    <section class="about bg-light">
      <div class="container">
        <div class="grid-2">
          <div class="center">
            <img src="../static/img/my_picture.png" width=220 height= 400 alt="">
          </div>
          <div>
            <h3>About Me</h3>
            <p>

              I'm a self taught python programmer. I'm interested in web stack "Flask", socket programming, SQL databases and game developing.<br>

              I have 10 + years experience as a desktop support and IT consultant which mostly I have worked in hardware assembling, upgrade, troubleshooting lines and so on.<br>

              Currently i have "customer, hardware / Software Services" position in Power retail with Norwegian Language training.<br>

              I am working on personal projects, which includes creating python tutorials for my youtube channel and my website. I’m very passionate for learning new technologies, frameworks and even new languages.<br>

              for me the most important aspect of work is the learning part, so i'm open for new positions especially anything that involves learning and teaching.<br><br>

              I speak English fluently, Italian and Norwegian in intermediate level (improving is in process) and Persian is my mother tongue. Lastly i should mention that i don't consider myself an expert programmer but Learning is one of my best qualities. <br> Thanks for dropping by.
          </p>
          <h3>Contact me at:</h3>
          <h4>khashayarpycodes@gmail.com</h4>
          </div>
        </div>
      </div>
    </section>
    <footer class="center bg-dark">
      <p>Simplepycodes &copy; 2017</p>
    </footer>
  </body>

</html>
